

   
<header>
  <h1 class="logo" onclick="window.location.href='/'">MEDIEASE</h1>

    <input type="checkbox" class="nav-toggle" id="nav-toggle">
    <nav>
      <ul>
        <% const admin_id = '648cee9a20d9f663387bf002' %> 
                <% if( currentUser && (currentUser._id == admin_id)) { %> 
                <li><a style="color:green"  href="/doctors/doct">Doctor</a></li>
              
                <% } %>
        
        <li> <a href="/doctors">My Appointment</a></li>
        <li> <a style="color:red" href="/donation">Donate</a></li>
        <!-- <li> <a href="">Communities</a></li> -->
        <% if(!currentUser) {%>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            <% } else {%>
            <li><a href="/certificates">My Documents</a></li>
            <li><a href="/logout">LOGOUT</a></li>
            
            <% } %>
            

      </ul>
    </nav>
    <label for="nav-toggle" class="nav-toggle-label">
      <span></span>
    </label>
  </header>
