<% layout('layouts/boilerplate')%>
      
      <!-- Section One -->
      
      <section class="section-one">
        <h2 class="header">Life. Health. Balance.</h2>
        <p class="section-one-paragraph">“Keeping your body healthy is an expression of gratitude to the whole cosmos- the trees, the clouds, everything.”</p>
        <!-- <a href="" class="learn-more-btn">Learn More </a>  -->
      </section>
      
      <!-- Section Two -->
      <section class="section=two">
        <img src='https://images.unsplash.com/photo-1478476868527-002ae3f3e159?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8aGVhbHRoY2FyZXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=600&q=60'>
      </section>
      
      <!-- Section Three -->
      <section class="section-three">
        <h3>Building a healthier world through personalized care and unwavering dedication.</h3>
      </section>
      
      <!-- Section Four -->
      <section class="section-four">
        <div class="flex-group">
          <div>
            <img src=https://plus.unsplash.com/premium_photo-1667518328538-b9edf50a5dc2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fGZldmVyJTIwdGhlcm1vbWV0ZXJ8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2Njk2NzUwODU&ixlib=rb-4.0.3&q=80>
          </div>
          <div class="content-container">
            <p>Fever is an elevated body temperature that often indicates an underlying illness or infection. It is a natural response of the body's immune system to fight off pathogens and stimulate the healing process. </p>
            <a href="/healthtopics/fever" class="learn-more-btn section-four-btn">Learn More</a>
          </div>
        </div>
      </section>
      
      <!-- Section Five -->
      <section class="section-five">
        <div class="flex-group section-five-flex-group">
          <div>
            <img src=https://plus.unsplash.com/premium_photo-1661513700981-eea62b19b297?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8ZGlhcnJoZWElMjBwYXRpZW50fGVufDB8fDB8fHww&auto=format&fit=crop&w=600&q=60?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2Njk2NzUwODU&ixlib=rb-4.0.3&q=80>
          </div>
          <div class="content-container">
            <p>Diarrhea is a condition characterized by frequent, loose, and watery bowel movements. It is often caused by infections, food intolerances, or underlying health conditions. It can lead to dehydration and electrolyte imbalances if not properly managed. Treatment involves rehydration, dietary adjustments, and addressing the underlying cause.</p>
            <a href="/healthtopics/diarrhea" class="learn-more-btn section-four-btn">Read More</a>
          </div>
        </div>
      </section>
      
      <!-- Section six -->
      <section class="section-six">
        <div class="flex-group">
          <div>
            <img src=https://plus.unsplash.com/premium_photo-1681966278331-d08538e39ed8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzF8fGFsbGVyZ2llc3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=600&q=60?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2Njk2NzYyMjg&ixlib=rb-4.0.3&q=80>
          </div>
          <div class="content-container">
            <p>Allergy is an immune system response to a substance (allergen) that is normally harmless. It can cause symptoms such as sneezing, itching, runny nose, watery eyes, and skin rashes.</p>
            <a href="/healthtopics/allergies" class="learn-more-btn section-four-btn">Learn more</a>
          </div>
        </div>
      </section>  
      
    <!-- Section Seven -->  
    
      <section class="section-seven">
            <h3>Healthcare is not a privilege; it is a right for every human being.</h3>
            <!-- <a href="" class="learn-more-btn section-seven-btn">Our Work</a>   -->
      </section>
      
    <!-- Section Eight -->
      <!-- <section class="section-eight">
        <div class="flex-group-eight">
          <div>
            <img src=https://images.unsplash.com/photo-1667684550725-71e60ab8368e?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2Njk2Nzc2NDk&ixlib=rb-4.0.3&q=80>
            <h4>Levi's</h4>
            <p>We partner with Levi's, an icon of American industry and culture, to to reimagine levi.com for a new generation of shoppers and the digital future of retail.</p>
          </div>
          
          <div>
            <img src=https://images.unsplash.com/photo-1666845267403-191d298cf198?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2Njk2OTEzOTc&ixlib=rb-4.0.3&q=80>
            <h4>Dropbox Brand Campaign</h4>
            <p>Dropbox is on a path to becoming a multi-product company. To bring their customers now and old along for that journey, we helped reimagine how Dropbox engages with their audience.</p>
          </div>
        </div>
      </section> -->
      
      <!-- Section Nine -->
      
      
      <!-- <section class="section-ten">
        <h3>We'd love to be your partner</h3>
        <a href="" class="learn-more-btn section-ten-btn">Get In Touch</a>
      </section> -->
